body {
      background-image: linear-gradient(120deg, 
                                      #9de7fa 0%, 
                                    #f89fba 100%);
      color: #eeebec;
      font-family: "Poppins", sans-serif;
     min-height: 100vh;
     
}
h1{
      padding: 0 200px 0 400px ;
      justify-content: center;
      align-items: center;
}
.btn-primary {
      color: #fff;
      background-color: #f685a7;
      border-color: #f89fba;
}
.containerFormSubmittedMessage {
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 3px solid whitesmoke;
}

.btn {
      width: 100%;
      font-weight: bold;
      font-size: large;
      height: 60px;
      font-size:1.5rem;
      border-radius: 10px;
      
}